<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MoeUI</title>
    <meta name="description" content="A jQuery and Backbone based UI Framework.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">
    <script src="/js/lib/modernizr.custom.js"></script>
    <script src="/js/lib/detect-mobile.js"></script>
    <link rel="stylesheet" href="/css/moeui.min.css">
    <link rel="stylesheet" href="/css/demo.min.css">
  </head>
  <body>
    {{{body}}}
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/tool-box.min.js"></script>
    {{{sections.pageScript}}}
  </body>
</html>
