<div class="container-full">
  <div class="row">
    <nav class="side-nav col-sm-2 col-2" id="side-nav">
      <ul>
        <li><a href="javascript:void(0)" data-url="css/grid.html">Grid</a></li>
        <li><a href="javascript:void(0)" data-url="css/typography.html">Typography</a></li>
        <li><a href="javascript:void(0)" data-url="css/tooltip.html">Tooltip</a></li>
        <li><a href="javascript:void(0)" data-url="css/button.html">Button</a></li>
        <li><a href="javascript:void(0)" data-url="css/form-control.html">Form Control</a></li>
      </ul>
    </nav>

    <div class="content col-sm-10 col-10" id="content"></div>
  </div>
</div>

{{#section 'pageScript'}}
  <script>

    $(function () {
      var $content = $('#content');

      if (location.hash) {
        $content.load('views/' + location.hash.slice(1));
      }

      $('#side-nav').find('a').click(function () {
        var url = this.getAttribute('data-url');

        $content.load('views/' + url);
        location.hash = url;
      });


      // [TEST]
      _.addLang({
        en: {
          TEST: 'test'
        },
        zh: {
          TEST: '测试'
        }
      });

      input = Moe.Form.createControl({
        layout: 'radio',
        className: 'gap-v',
//        placeholder: 'test',
        placeLocale: 'TEST',
//        locale: 'TEST',
        value: 'checkbox',
        //checked: true,
        //validateOnCreate: true,
        validation: {
          required: true
        },
        onChange: function (event) {
          _.log(this.getVal());
        }
      });

      input.$el.appendTo($content);
    });

  </script>
{{/section}}
