<div class="demo-form-control">
  <h1>Form Control</h1>

  <h2>Input</h2>

  <p>
    <span class="input-label">Default: </span>
    <span class="control-input"><input type="text" value="Default"></span>
  </p>
  <p>
    <span class="input-label">Error: </span>
    <span class="control-input control-error"><input type="text" value="Error"></span>
  </p>
  <p>
    <span class="input-label">Success: </span>
    <span class="control-input control-success"><input type="text" value="Success"></span>
  </p>
  <p>
    <span class="input-label">Required: </span>
    <span class="control-input control-required"><input type="text" value="Required"></span>
  </p>
  <p>
    <span class="input-label">Required Error: </span>
    <span class="control-input control-required control-error"><input type="text" value="Required Error"></span>
  </p>
  <p>
    <span class="input-label">Required Success: </span>
    <span class="control-input control-required control-success"><input type="text" value="Required Success" class="control-success"></span>
  </p>
  <p>
    <span class="input-label">Disabled: </span>
    <span class="control-input"><input type="text" disabled value="Disabled"></span>
  </p>

  <hr>

  <h2>Textarea</h2>

  <p>
    <span class="input-label">Default: </span>
    <span class="control-textarea"><textarea>Default</textarea></span>
  </p>
  <p>
    <span class="input-label">Error: </span>
    <span class="control-textarea control-error"><textarea>Error</textarea></span>
  </p>
  <p>
    <span class="input-label">Success: </span>
    <span class="control-textarea control-success"><textarea>Success</textarea></span>
  </p>
  <p>
    <span class="input-label">Required: </span>
    <span class="control-textarea control-required"><textarea>Required</textarea></span>
  </p>
  <p>
    <span class="input-label">Required Error: </span>
    <span class="control-textarea control-required control-error"><textarea>Required Error</textarea></span>
  </p>
  <p>
    <span class="input-label">Required Success: </span>
    <span class="control-textarea control-required control-success"><textarea>Required Success</textarea></span>
  </p>
  <p>
    <span class="input-label">Disabled: </span>
    <span class="control-textarea"><textarea disabled>Disabled</textarea></span>
  </p>

  <hr>

  <h2>Number</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>
    <div class="control-number">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><span class="icon-arrow-caret up"></span></button>
      <button type="button" class="btn-white btn-icon number-down"><span class="icon-arrow-caret down"></span></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Error: </span>
    <div class="control-number control-error">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><span class="icon-arrow-caret up"></span></button>
      <button type="button" class="btn-white btn-icon number-down"><span class="icon-arrow-caret down"></span></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Success: </span>
    <div class="control-number control-success">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><span class="icon-arrow-caret up"></span></button>
      <button type="button" class="btn-white btn-icon number-down"><span class="icon-arrow-caret down"></span></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required: </span>
    <div class="control-number control-required">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><span class="icon-arrow-caret up"></span></button>
      <button type="button" class="btn-white btn-icon number-down"><span class="icon-arrow-caret down"></span></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>
    <div class="control-number control-required control-error">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><span class="icon-arrow-caret up"></span></button>
      <button type="button" class="btn-white btn-icon number-down"><span class="icon-arrow-caret down"></span></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>
    <div class="control-number control-required control-success">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><span class="icon-arrow-caret up"></span></button>
      <button type="button" class="btn-white btn-icon number-down"><span class="icon-arrow-caret down"></span></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-number">
      <input type="text" value="123456.00" disabled>
      <button type="button" class="btn-white btn-icon number-up" disabled><span class="icon-arrow-caret up"></span></button>
      <button type="button" class="btn-white btn-icon number-down" disabled><span class="icon-arrow-caret down"></span></button>
    </div>
  </div>
</div>
