<div class="demo-form-control">
  <h1>Form Control</h1>

  <h2>Input</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>
    <div class="control-input">
      <input type="text" value="Default">
      <p class="control-help">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, similique?</p>
    </div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Error: </span>
    <div class="control-input control-error">
      <input type="text" value="Error">
      <p class="control-help">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, similique?</p>
      <p class="control-error-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, obcaecati.</p>
    </div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Success: </span>
    <div class="control-input control-success"><input type="text" value="Success"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required: </span>
    <div class="control-input control-required"><input type="text" value="Required"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>
    <div class="control-input control-required control-error"><input type="text" value="Required Error"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>
    <div class="control-input control-required control-success"><input type="text" value="Required Success" class="control-success"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-input control-disabled"><input type="text" disabled value="Disabled"></div>
  </div>

  <h2>Password</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>
    <div class="control-input"><input type="password" value="Default"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Error: </span>
    <div class="control-input control-error"><input type="password" value="Error"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Success: </span>
    <div class="control-input control-success"><input type="password" value="Success"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required: </span>
    <div class="control-input control-required"><input type="password" value="Required"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>
    <div class="control-input control-required control-error"><input type="password" value="Required Error"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>
    <div class="control-input control-required control-success"><input type="password" value="Required Success" class="control-success"></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-input control-disabled"><input type="password" disabled value="Disabled"></div>
  </div>

  <hr>

  <h2>Textarea</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>
    <div class="control-textarea"><textarea>Default</textarea></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Error: </span>
    <div class="control-textarea control-error"><textarea>Error</textarea></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Success: </span>
    <div class="control-textarea control-success"><textarea>Success</textarea></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required: </span>
    <div class="control-textarea control-required"><textarea>Required</textarea></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>
    <div class="control-textarea control-required control-error"><textarea>Required Error</textarea></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>
    <div class="control-textarea control-required control-success"><textarea>Required Success</textarea></div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-textarea control-disabled"><textarea disabled>Disabled</textarea></div>
  </div>

  <hr>

  <h2>Number</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>
    <div class="control-number">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><i class="icon-arrow-caret-up number-icon"></i></button>
      <button type="button" class="btn-white btn-icon number-down"><i class="icon-arrow-caret-down number-icon"></i></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Error: </span>
    <div class="control-number control-error">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><i class="icon-arrow-caret-up number-icon"></i></button>
      <button type="button" class="btn-white btn-icon number-down"><i class="icon-arrow-caret-down number-icon"></i></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Success: </span>
    <div class="control-number control-success">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><i class="icon-arrow-caret-up number-icon"></i></button>
      <button type="button" class="btn-white btn-icon number-down"><i class="icon-arrow-caret-down number-icon"></i></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required: </span>
    <div class="control-number control-required">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><i class="icon-arrow-caret-up number-icon"></i></button>
      <button type="button" class="btn-white btn-icon number-down"><i class="icon-arrow-caret-down number-icon"></i></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>
    <div class="control-number control-required control-error">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><i class="icon-arrow-caret-up number-icon"></i></button>
      <button type="button" class="btn-white btn-icon number-down"><i class="icon-arrow-caret-down number-icon"></i></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>
    <div class="control-number control-required control-success">
      <input type="text" value="123456.00">
      <button type="button" class="btn-white btn-icon number-up"><i class="icon-arrow-caret-up number-icon"></i></button>
      <button type="button" class="btn-white btn-icon number-down"><i class="icon-arrow-caret-down number-icon"></i></button>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-number control-disabled">
      <input type="text" value="123456.00" disabled>
      <button type="button" class="btn-white btn-icon number-up" disabled><i class="icon-arrow-caret-up number-icon"></i></button>
      <button type="button" class="btn-white btn-icon number-down" disabled><i class="icon-arrow-caret-down number-icon"></i></button>
    </div>
  </div>

  <hr>

  <h2>Date</h2>

  <div class="gap-v-sm">
    <span class="input-label">Date: </span>
    <div class="control-date">
      <input type="text" value="2015/05/14" readonly>
      <i class="icon-calendar"></i>
    </div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Error: </span>
    <div class="control-date control-error">
      <input type="text" value="2015/05/14" readonly>
      <i class="icon-calendar"></i>
    </div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Success: </span>
    <div class="control-date control-success">
      <input type="text" value="2015/05/14" readonly>
      <i class="icon-calendar"></i>
    </div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required: </span>
    <div class="control-date control-required">
      <input type="text" value="2015/05/14" readonly>
      <i class="icon-calendar"></i>
    </div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>
    <div class="control-date control-required control-error">
      <input type="text" value="2015/05/14" readonly>
      <i class="icon-calendar"></i>
    </div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>
    <div class="control-date control-required control-success">
      <input type="text" value="2015/05/14" readonly>
      <i class="icon-calendar"></i>
    </div>
  </div>
  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-date control-disabled">
      <input type="text" value="2015/05/14" disabled>
      <i class="icon-calendar"></i>
    </div>
  </div>

  <hr>

  <h2>Time</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>

    <div class="control-hour">
      <div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div><span class="control-sep">:</span><div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Error: </span>

    <div class="control-hour control-error">
      <div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div><span class="control-sep">:</span><div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Success: </span>

    <div class="control-hour control-success">
      <div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div><span class="control-sep">:</span><div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required: </span>

    <div class="control-hour control-required">
      <div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div><span class="control-sep">:</span><div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>

    <div class="control-hour control-error control-required">
      <div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div><span class="control-sep">:</span><div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>

    <div class="control-hour control-success control-required">
      <div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div><span class="control-sep">:</span><div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>

    <div class="control-hour control-disabled">
      <div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link" disabled><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div><span class="control-sep">:</span><div class="control-select">
        <div class="select-face">
          <div class="select-text">00</div>
          <button type="button" class="btn-icon btn-link" disabled><span class="icon-arrow-caret-down"></span></button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h2>Datetime</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>

    <div class="control-time">
      <div class="control-date">
        <input type="text" value="2015/05/14" readonly>
        <i class="icon-calendar"></i>
      </div>

      <div class="control-hour">
        <div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div><span class="control-sep">:</span><div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Error: </span>

    <div class="control-time control-error">
      <div class="control-date">
        <input type="text" value="2015/05/14" readonly>
        <i class="icon-calendar"></i>
      </div>

      <div class="control-hour">
        <div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div><span class="control-sep">:</span><div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Success: </span>

    <div class="control-time control-success">
      <div class="control-date">
        <input type="text" value="2015/05/14" readonly>
        <i class="icon-calendar"></i>
      </div>

      <div class="control-hour">
        <div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div><span class="control-sep">:</span><div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required: </span>

    <div class="control-time control-required">
      <div class="control-date">
        <input type="text" value="2015/05/14" readonly>
        <i class="icon-calendar"></i>
      </div>

      <div class="control-hour">
        <div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div><span class="control-sep">:</span><div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>

    <div class="control-time control-error control-required">
      <div class="control-date">
        <input type="text" value="2015/05/14" readonly>
        <i class="icon-calendar"></i>
      </div>

      <div class="control-hour">
        <div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div><span class="control-sep">:</span><div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>

    <div class="control-time control-success control-required">
      <div class="control-date">
        <input type="text" value="2015/05/14" readonly>
        <i class="icon-calendar"></i>
      </div>

      <div class="control-hour">
        <div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div><span class="control-sep">:</span><div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>

    <div class="control-time control-disabled">
      <div class="control-date">
        <input type="text" value="2015/05/14" disabled>
        <i class="icon-calendar"></i>
      </div>

      <div class="control-hour">
        <div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link" disabled><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div><span class="control-sep">:</span><div class="control-select">
          <div class="select-face">
            <div class="select-text">00</div>
            <button type="button" class="btn-icon btn-link" disabled><span class="icon-arrow-caret-down"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h2>Checkbox and Radio</h2>

  <h3>Common</h3>

  <div class="gap-v-sm">
    <label class="control-check"><input type="checkbox"><span> Unchecked</span></label>
    <label class="control-check"><input type="checkbox" checked><span> Checked</span></label>
    <label class="control-check control-error"><input type="checkbox" checked><span> Error</span></label>
    <label class="control-check control-success"><input type="checkbox" checked><span> Success</span></label>
    <label class="control-check control-required"><input type="checkbox"><span> Required</span></label>
    <label class="control-check control-required control-error"><input type="checkbox"><span> Required Error</span></label>
    <label class="control-check control-required control-success"><input type="checkbox" checked><span> Required Success</span></label>
    <label class="control-check control-disabled"><input type="checkbox" disabled><span> Disabled</span></label>
  </div>

  <div class="gap-v-sm">
    <label class="control-check"><input type="radio"><span> Unchecked</span></label>
    <label class="control-check"><input type="radio" checked><span> Checked</span></label>
    <label class="control-check control-error"><input type="radio" checked><span> Error</span></label>
    <label class="control-check control-success"><input type="radio" checked><span> Success</span></label>
    <label class="control-check control-required"><input type="radio"><span> Required</span></label>
    <label class="control-check control-required control-error"><input type="radio"><span> Required Error</span></label>
    <label class="control-check control-required control-success"><input type="radio" checked><span> Required Success</span></label>
    <label class="control-check control-disabled"><input type="radio" disabled><span> Disabled</span></label>
  </div>

  <h3>Inline</h3>

  <div class="gap-v-sm">
    <label class="control-check-inline"><input type="checkbox"><span> Unchecked</span></label>
    <label class="control-check-inline"><input type="checkbox" checked><span> Checked</span></label>
    <label class="control-check-inline control-error"><input type="checkbox" checked><span> Error</span></label>
    <label class="control-check-inline control-success"><input type="checkbox" checked><span> Success</span></label>
    <label class="control-check-inline control-required"><input type="checkbox"><span> Required</span></label>
    <label class="control-check-inline control-required control-error"><input type="checkbox"><span> Required Error</span></label>
    <label class="control-check-inline control-required control-success"><input type="checkbox" checked><span> Required Success</span></label>
    <label class="control-check-inline control-disabled"><input type="checkbox" disabled><span> Disabled</span></label>
  </div>

  <div class="gap-v-sm">
    <label class="control-check-inline"><input type="radio"><span> Unchecked</span></label>
    <label class="control-check-inline"><input type="radio" checked><span> Checked</span></label>
    <label class="control-check-inline control-error"><input type="radio" checked><span> Error</span></label>
    <label class="control-check-inline control-success"><input type="radio" checked><span> Success</span></label>
    <label class="control-check-inline control-required"><input type="radio"><span> Required</span></label>
    <label class="control-check-inline control-required control-error"><input type="radio"><span> Required Error</span></label>
    <label class="control-check-inline control-required control-success"><input type="radio" checked><span> Required Success</span></label>
    <label class="control-check-inline control-disabled"><input type="radio" disabled><span> Disabled</span></label>
  </div>

  <h3>Check List</h3>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>
    <div class="control-check-list">
      <label class="control-check"><input type="checkbox"><span> Unchecked</span></label>
      <label class="control-check"><input type="checkbox" checked><span> Checked</span></label>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Error: </span>
    <div class="control-check-list control-error">
      <label class="control-check"><input type="checkbox"><span> Unchecked</span></label>
      <label class="control-check"><input type="checkbox" checked><span> Checked</span></label>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Success: </span>
    <div class="control-check-list control-success">
      <label class="control-check"><input type="checkbox"><span> Unchecked</span></label>
      <label class="control-check"><input type="checkbox" checked><span> Checked</span></label>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required: </span>
    <div class="control-check-list control-required">
      <label class="control-check"><input type="checkbox"><span> Unchecked</span></label>
      <label class="control-check"><input type="checkbox" checked><span> Checked</span></label>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>
    <div class="control-check-list control-required control-error">
      <label class="control-check"><input type="checkbox"><span> Unchecked</span></label>
      <label class="control-check"><input type="checkbox" checked><span> Checked</span></label>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>
    <div class="control-check-list control-required control-success">
      <label class="control-check"><input type="checkbox"><span> Unchecked</span></label>
      <label class="control-check"><input type="checkbox" checked><span> Checked</span></label>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-check-list control-disabled">
      <label class="control-check"><input type="checkbox" disabled><span> Unchecked</span></label>
      <label class="control-check"><input type="checkbox" disabled checked><span> Checked</span></label>
    </div>
  </div>

  <hr>

  <h2>Select</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>

    <div class="control-select">
      <div class="select-face">
        <div class="select-text">Default extra long text test</div>
        <button type="button" class="btn-icon btn-link"><i class="select-icon icon-arrow-caret-down"></i></button>
      </div>
      <div class="select-list">
        <ul>
          <li><a href="javascript:void(0);"></a></li>
          <li><a href="javascript:void(0);">Item 1</a></li>
          <li><a href="javascript:void(0);">Item 2</a></li>
          <li><a href="javascript:void(0);">Item 3</a></li>
          <li><a href="javascript:void(0);">Item 4</a></li>
          <li><a href="javascript:void(0);">Item 5</a></li>
          <li><a href="javascript:void(0);">Item 6</a></li>
          <li><a href="javascript:void(0);">Item 7</a></li>
          <li><a href="javascript:void(0);">Item 8</a></li>
          <li><a href="javascript:void(0);">Item 9</a></li>
          <li><a href="javascript:void(0);">Item 10</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Multiple: </span>

    <div class="control-select">
      <div class="select-face">
        <div class="select-text">Multiple extra long text test</div>
        <button type="button" class="btn-icon btn-link"><i class="select-icon icon-arrow-caret-down"></i></button>
      </div>
      <div class="select-list">
        <div class="control-check-list">
          <label class="control-check"><input type="checkbox"><span> Unchecked</span></label>
          <label class="control-check"><input type="checkbox" checked><span> Checked</span></label>
        </div>

        <div class="select-btn">
          <button type="button" class="btn-primary btn-sm">Confirm</button>
          <button type="button" class="btn-sm">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Error: </span>
    <div class="control-select control-error">
      <div class="select-face">
        <div class="select-text">Error</div>
        <button type="button" class="btn-icon btn-link"><i class="icon-arrow-caret-down"></i></button>
      </div>
      <div class="select-list">
        <ul>
          <li><a href="javascript:void(0);"></a></li>
          <li><a href="javascript:void(0);">Item 1</a></li>
          <li><a href="javascript:void(0);">Item 2</a></li>
          <li><a href="javascript:void(0);">Item 3</a></li>
          <li><a href="javascript:void(0);">Item 4</a></li>
          <li><a href="javascript:void(0);">Item 5</a></li>
          <li><a href="javascript:void(0);">Item 6</a></li>
          <li><a href="javascript:void(0);">Item 7</a></li>
          <li><a href="javascript:void(0);">Item 8</a></li>
          <li><a href="javascript:void(0);">Item 9</a></li>
          <li><a href="javascript:void(0);">Item 10</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Success: </span>
    <div class="control-select control-success">
      <div class="select-face">
        <div class="select-text">Success</div>
        <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
      </div>
      <div class="select-list">
        <ul>
          <li><a href="javascript:void(0);"></a></li>
          <li><a href="javascript:void(0);">Item 1</a></li>
          <li><a href="javascript:void(0);">Item 2</a></li>
          <li><a href="javascript:void(0);">Item 3</a></li>
          <li><a href="javascript:void(0);">Item 4</a></li>
          <li><a href="javascript:void(0);">Item 5</a></li>
          <li><a href="javascript:void(0);">Item 6</a></li>
          <li><a href="javascript:void(0);">Item 7</a></li>
          <li><a href="javascript:void(0);">Item 8</a></li>
          <li><a href="javascript:void(0);">Item 9</a></li>
          <li><a href="javascript:void(0);">Item 10</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required: </span>
    <div class="control-select control-required">
      <div class="select-face">
        <div class="select-text">Required</div>
        <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
      </div>
      <div class="select-list">
        <ul>
          <li><a href="javascript:void(0);"></a></li>
          <li><a href="javascript:void(0);">Item 1</a></li>
          <li><a href="javascript:void(0);">Item 2</a></li>
          <li><a href="javascript:void(0);">Item 3</a></li>
          <li><a href="javascript:void(0);">Item 4</a></li>
          <li><a href="javascript:void(0);">Item 5</a></li>
          <li><a href="javascript:void(0);">Item 6</a></li>
          <li><a href="javascript:void(0);">Item 7</a></li>
          <li><a href="javascript:void(0);">Item 8</a></li>
          <li><a href="javascript:void(0);">Item 9</a></li>
          <li><a href="javascript:void(0);">Item 10</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>
    <div class="control-select control-required control-error">
      <div class="select-face">
        <div class="select-text">Required Error</div>
        <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
      </div>
      <div class="select-list">
        <ul>
          <li><a href="javascript:void(0);"></a></li>
          <li><a href="javascript:void(0);">Item 1</a></li>
          <li><a href="javascript:void(0);">Item 2</a></li>
          <li><a href="javascript:void(0);">Item 3</a></li>
          <li><a href="javascript:void(0);">Item 4</a></li>
          <li><a href="javascript:void(0);">Item 5</a></li>
          <li><a href="javascript:void(0);">Item 6</a></li>
          <li><a href="javascript:void(0);">Item 7</a></li>
          <li><a href="javascript:void(0);">Item 8</a></li>
          <li><a href="javascript:void(0);">Item 9</a></li>
          <li><a href="javascript:void(0);">Item 10</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>
    <div class="control-select control-required control-success">
      <div class="select-face">
        <div class="select-text">Required Success</div>
        <button type="button" class="btn-icon btn-link"><span class="icon-arrow-caret-down"></span></button>
      </div>
      <div class="select-list">
        <ul>
          <li><a href="javascript:void(0);"></a></li>
          <li><a href="javascript:void(0);">Item 1</a></li>
          <li><a href="javascript:void(0);">Item 2</a></li>
          <li><a href="javascript:void(0);">Item 3</a></li>
          <li><a href="javascript:void(0);">Item 4</a></li>
          <li><a href="javascript:void(0);">Item 5</a></li>
          <li><a href="javascript:void(0);">Item 6</a></li>
          <li><a href="javascript:void(0);">Item 7</a></li>
          <li><a href="javascript:void(0);">Item 8</a></li>
          <li><a href="javascript:void(0);">Item 9</a></li>
          <li><a href="javascript:void(0);">Item 10</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-select control-disabled">
      <div class="select-face">
        <div class="select-text">Disabled</div>
        <button type="button" class="btn-icon btn-link" disabled><span class="icon-arrow-caret-down"></span></button>
      </div>
    </div>
  </div>

  <hr>

  <h2>Switch</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>
    <div class="control-switch">
      <label class="switch-cover" for="switch-default"></label>
      <input type="checkbox" id="switch-default">
      <label class="switch-toggle"></label>
      <div class="switch-plate"></div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-switch control-disabled">
      <label class="switch-cover" for="switch-disabled"></label>
      <input type="checkbox" id="switch-disabled" disabled>
      <label for="switch-disabled" class="switch-toggle"></label>
      <div class="switch-plate"></div>
    </div>
  </div>

  <hr>

  <h2>Toggle</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>
    <div class="control-toggle">
      <label class="switch-cover" for="switch-ab-default-2"></label>
      <input type="radio" name="switch-ab-default" id="switch-ab-default-1" checked> <span class="toggle-ab-val">A–Z</span>
      <input type="radio" name="switch-ab-default" id="switch-ab-default-2"> <span class="toggle-ab-val">Z–A</span>
      <label class="switch-toggle"></label>
      <div class="switch-plate"></div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-toggle control-disabled">
      <label class="switch-cover"></label>
      <input type="radio" name="switch-ab-disabled" id="switch-ab-disabled-3" checked disabled> <span class="toggle-ab-val">A–Z</span>
      <input type="radio" name="switch-ab-disabled" id="switch-ab-disabled-4" disabled> <span class="toggle-ab-val">Z–A</span>
      <label class="switch-toggle" for="switch-ab-disabled-4"></label>
      <div class="switch-plate"></div>
    </div>
  </div>

  <hr>

  <h2>File</h2>

  <div class="gap-v-sm">
    <span class="input-label">Default: </span>
    <div class="control-file">
      <span class="icon-clip"></span>
      <div class="file-list">
        <ul></ul>
      </div>
      <div class="file-command">Add a File <input type="file" class="file-add-input"></div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Default (files added): </span>
    <div class="control-file">
      <span class="icon-clip"></span>
      <div class="file-list">
        <ul>
          <li>
            <span class="file-name">FileName-1.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
            <input type="file">
          </li>
          <li>
            <span class="file-name">FileName-2.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
            <input type="file">
          </li>
        </ul>
      </div>
      <div class="file-command">Add a File <input type="file"></div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Error: </span>
    <div class="control-file control-error">
      <span class="icon-clip"></span>
      <div class="file-list">
        <ul>
          <li>
            <span class="file-name">FileName-1.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
          <li>
            <span class="file-name">FileName-2.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
        </ul>
      </div>
      <div class="file-command">Add a File <input type="file" class="file-add-input"></div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Success: </span>
    <div class="control-file control-success">
      <span class="icon-clip"></span>
      <div class="file-list">
        <ul>
          <li>
            <span class="file-name">FileName-1.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
          <li>
            <span class="file-name">FileName-2.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
        </ul>
      </div>
      <div class="file-command">Add a File <input type="file" class="file-add-input"></div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required: </span>
    <div class="control-file control-required">
      <span class="icon-clip"></span>
      <div class="file-list">
        <ul>
          <li>
            <span class="file-name">FileName-1.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
          <li>
            <span class="file-name">FileName-2.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
        </ul>
      </div>
      <div class="file-command">Add a File <input type="file" class="file-add-input"></div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Error: </span>
    <div class="control-file control-required control-error">
      <span class="icon-clip"></span>
      <div class="file-list">
        <ul>
          <li>
            <span class="file-name">FileName-1.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
          <li>
            <span class="file-name">FileName-2.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
        </ul>
      </div>
      <div class="file-command">Add a File <input type="file" class="file-add-input"></div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Required Success: </span>
    <div class="control-file control-required control-success">
      <span class="icon-clip"></span>
      <div class="file-list">
        <ul>
          <li>
            <span class="file-name">FileName-1.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
          <li>
            <span class="file-name">FileName-2.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
        </ul>
      </div>
      <div class="file-command">Add a File <input type="file" class="file-add-input"></div>
    </div>
  </div>

  <div class="gap-v-sm">
    <span class="input-label">Disabled: </span>
    <div class="control-file control-disabled">
      <span class="icon-clip"></span>
      <div class="file-list">
        <ul>
          <li>
            <span class="file-name">FileName-1.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
          <li>
            <span class="file-name">FileName-2.ext</span>
            <a href="javascript:void(0);" class="icon-stop"></a>
          </li>
        </ul>
      </div>
      <div class="file-command">Add a File <input type="file" class="file-add-input" disabled></div>
    </div>
  </div>

  <hr>
</div>
