<div class="demo-grid">
  <h1>Grid</h1>

  <h2>Width</h2>

  <h3><code>.col-xs-@{index}</code></h3>

  <div class="row">
    <div class="col-xs-12"><div class="demo-column">col-xs-12</div></div>
  </div>

  <div class="row">
    <div class="col-xs-11"><div class="demo-column">col-xs-11</div></div>
    <div class="col-xs-1"><div class="demo-column">col-xs-1</div></div>
  </div>

  <div class="row">
    <div class="col-xs-10"><div class="demo-column">col-xs-10</div></div>
    <div class="col-xs-2"><div class="demo-column">col-xs-2</div></div>
  </div>

  <div class="row">
    <div class="col-xs-9"><div class="demo-column">col-xs-9</div></div>
    <div class="col-xs-3"><div class="demo-column">col-xs-3</div></div>
  </div>

  <div class="row">
    <div class="col-xs-8"><div class="demo-column">col-xs-8</div></div>
    <div class="col-xs-4"><div class="demo-column">col-xs-4</div></div>
  </div>

  <div class="row">
    <div class="col-xs-7"><div class="demo-column">col-xs-7</div></div>
    <div class="col-xs-5"><div class="demo-column">col-xs-5</div></div>
  </div>

  <div class="row">
    <div class="col-xs-6"><div class="demo-column">col-xs-6</div></div>
    <div class="col-xs-6"><div class="demo-column">col-xs-6</div></div>
  </div>

  <h3><code>.col-sm-@{index}</code></h3>

  <div class="row">
    <div class="col-sm-12"><div class="demo-column">col-sm-12</div></div>
  </div>

  <div class="row">
    <div class="col-sm-11"><div class="demo-column">col-sm-11</div></div>
    <div class="col-sm-1"><div class="demo-column">col-sm-1</div></div>
  </div>

  <div class="row">
    <div class="col-sm-10"><div class="demo-column">col-sm-10</div></div>
    <div class="col-sm-2"><div class="demo-column">col-sm-2</div></div>
  </div>

  <div class="row">
    <div class="col-sm-9"><div class="demo-column">col-sm-9</div></div>
    <div class="col-sm-3"><div class="demo-column">col-sm-3</div></div>
  </div>

  <div class="row">
    <div class="col-sm-8"><div class="demo-column">col-sm-8</div></div>
    <div class="col-sm-4"><div class="demo-column">col-sm-4</div></div>
  </div>

  <div class="row">
    <div class="col-sm-7"><div class="demo-column">col-sm-7</div></div>
    <div class="col-sm-5"><div class="demo-column">col-sm-5</div></div>
  </div>

  <div class="row">
    <div class="col-sm-6"><div class="demo-column">col-sm-6</div></div>
    <div class="col-sm-6"><div class="demo-column">col-sm-6</div></div>
  </div>

  <h3><code>.col-md-@{index}</code></h3>

  <div class="row">
    <div class="col-md-12"><div class="demo-column">col-md-12</div></div>
  </div>

  <div class="row">
    <div class="col-md-11"><div class="demo-column">col-md-11</div></div>
    <div class="col-md-1"><div class="demo-column">col-md-1</div></div>
  </div>

  <div class="row">
    <div class="col-md-10"><div class="demo-column">col-md-10</div></div>
    <div class="col-md-2"><div class="demo-column">col-md-2</div></div>
  </div>

  <div class="row">
    <div class="col-md-9"><div class="demo-column">col-md-9</div></div>
    <div class="col-md-3"><div class="demo-column">col-md-3</div></div>
  </div>

  <div class="row">
    <div class="col-md-8"><div class="demo-column">col-md-8</div></div>
    <div class="col-md-4"><div class="demo-column">col-md-4</div></div>
  </div>

  <div class="row">
    <div class="col-md-7"><div class="demo-column">col-md-7</div></div>
    <div class="col-md-5"><div class="demo-column">col-md-5</div></div>
  </div>

  <div class="row">
    <div class="col-md-6"><div class="demo-column">col-md-6</div></div>
    <div class="col-md-6"><div class="demo-column">col-md-6</div></div>
  </div>

  <h3><code>.col-lg-@{index}</code></h3>

  <div class="row">
    <div class="col-lg-12"><div class="demo-column">col-lg-12</div></div>
  </div>

  <div class="row">
    <div class="col-lg-11"><div class="demo-column">col-lg-11</div></div>
    <div class="col-lg-1"><div class="demo-column">col-lg-1</div></div>
  </div>

  <div class="row">
    <div class="col-lg-10"><div class="demo-column">col-lg-10</div></div>
    <div class="col-lg-2"><div class="demo-column">col-lg-2</div></div>
  </div>

  <div class="row">
    <div class="col-lg-9"><div class="demo-column">col-lg-9</div></div>
    <div class="col-lg-3"><div class="demo-column">col-lg-3</div></div>
  </div>

  <div class="row">
    <div class="col-lg-8"><div class="demo-column">col-lg-8</div></div>
    <div class="col-lg-4"><div class="demo-column">col-lg-4</div></div>
  </div>

  <div class="row">
    <div class="col-lg-7"><div class="demo-column">col-lg-7</div></div>
    <div class="col-lg-5"><div class="demo-column">col-lg-5</div></div>
  </div>

  <div class="row">
    <div class="col-lg-6"><div class="demo-column">col-lg-6</div></div>
    <div class="col-lg-6"><div class="demo-column">col-lg-6</div></div>
  </div>

  <hr>

  <h2>Offset</h2>

  <h3><code>.col-xs-offset-@{index}, .col-sm-offset-@{index}, .col-md-offset-@{index}, .col-lg-offset-@{index}</code></h3>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4"><div class="demo-column">col-xs-4 col-xs-offset-4</div></div>
  </div>

  <hr>

  <h2>For Browsers without Media Query Support</h2>

  <h3><code>.col-@{index}</code></h3>

  <div class="row">
    <div class="col-6"><div class="demo-column">col-6</div></div>
    <div class="col-6"><div class="demo-column">col-6</div></div>
  </div>

  <div class="row">
    <div class="col-4 col-offset-4"><div class="demo-column">col-4 col-offset-4</div></div>
  </div>
</div>
