<div class="demo-tooltip">
  <h1>Tooltip</h1>

  <h2>Left</h2>

  <div class="tooltip left" style="position: relative;">
    <i class="arrow"></i>
    <div class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis cum doloribus est in inventore itaque labore, odio pariatur, quae repellendus, rerum veritatis vero? A atque delectus earum maiores nostrum.</div>
  </div>

  <hr>

  <h2>Right</h2>

  <div class="tooltip right" style="position: relative;">
    <i class="arrow"></i>
    <div class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis cum doloribus est in inventore itaque labore, odio pariatur, quae repellendus, rerum veritatis vero? A atque delectus earum maiores nostrum.</div>
  </div>

  <hr>

  <h2>Top</h2>

  <div class="tooltip top" style="position: relative;">
    <i class="arrow"></i>
    <div class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis cum doloribus est in inventore itaque labore, odio pariatur, quae repellendus, rerum veritatis vero? A atque delectus earum maiores nostrum.</div>
  </div>

  <hr>

  <h2>Bottom</h2>

  <div class="tooltip bottom" style="position: relative;">
    <i class="arrow"></i>
    <div class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis cum doloribus est in inventore itaque labore, odio pariatur, quae repellendus, rerum veritatis vero? A atque delectus earum maiores nostrum.</div>
  </div>

  <hr>
</div>
