<div class="demo-typography">
  <h1>Typography</h1>

  <h2>Headings</h2>

  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <hr>

  <h2>Paragraph</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur atque aut cupiditate doloribus
    perspiciatis praesentium. Accusantium corporis fugit quis quod temporibus tenetur, ullam? Accusantium cum dolore
    nulla quas voluptas?</p>

  <p>Ad culpa quasi rem repellat voluptatem! Aliquid aspernatur aut cupiditate dignissimos dolore ducimus enim, esse eum
    excepturi, facilis fuga ipsa magni maxime, modi nemo nisi omnis provident quae reprehenderit sapiente.</p>

  <hr>

  <h2>List</h2>

  <ul class="list-unordered">
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, expedita!</li>
    <li>Alias aliquid autem exercitationem natus nihil nostrum qui, ratione sed!
      <ul class="list-unordered">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quaerat.</li>
        <li>Eos id laudantium nostrum obcaecati placeat sequi tenetur ut voluptatem!</li>
        <li>Culpa dolorum exercitationem non, praesentium reprehenderit rerum velit? Alias, ea!</li>
      </ul>
    </li>
    <li>Consequuntur cum enim est eveniet magnam omnis quidem quod sint?</li>
  </ul>

  <ol class="list-ordered">
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, expedita!</li>
    <li>Alias aliquid autem exercitationem natus nihil nostrum qui, ratione sed!
      <ol class="list-ordered">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias.</li>
        <li>Aliquid doloribus incidunt perspiciatis quo vitae voluptate. Provident quidem, ullam?</li>
        <li>Eos fugit perferendis quis rem totam! Aliquam beatae dolor temporibus.</li>
      </ol>
    </li>
    <li>Consequuntur cum enim est eveniet magnam omnis quidem quod sint?</li>
  </ol>

  <h2>Inline Text</h2>

  <p>Link: <a href="javascript:void(0);">Link</a></p>
  <p>Strong: <strong>Strong</strong></p>
  <p>Emphasize: <em>Emphasize</em></p>

  <h2>Table</h2>

  <table>
    <thead>
      <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content 1</td>
        <td>Content 2</td>
        <td>Content 3</td>
      </tr>
      <tr>
        <td>Content 1</td>
        <td>Content 2</td>
        <td>Content 3</td>
      </tr>
      <tr>
        <td>Content 1</td>
        <td>Content 2</td>
        <td>Content 3</td>
      </tr>
      <tr>
        <td>Content 1</td>
        <td>Content 2</td>
        <td>Content 3</td>
      </tr>
    </tbody>
  </table>

  <h2>Styled Text</h2>

  <p class="text-primary">Text Primary</p>
  <p class="text-secondary">Text Secondary</p>
  <p class="text-muted">Text Muted</p>

  <h3>Text Alignment</h3>

  <p class="text-left">Text Left</p>
  <p class="text-center">Text Center</p>
  <p class="text-right">Text Right</p>
</div>
