/**
 * Created by Ash.Zhang on 2015/5/13.
 */


// General
// --------------------------

button,
input,
select,
textarea {
  outline: 0;
}

button,
input,
select {
  height: @control-height;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

[disabled] {
  .opacity(@disabled-opacity);
}


// Disabled
// --------------------------

.control-disabled {
  .opacity(@disabled-opacity);

  button {
    cursor: default;
  }
}


// Validation
// --------------------------

.control-success {

  > input,
  > textarea {
    color: @color-success;

    &:focus {
      background: @color-success-bg;
    }
  }
}

.control-error {

  > input,
  > textarea {
    border: @border-width solid @color-error !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    color: @color-error;

    &:focus {
      background-color: @color-error-bg;
    }
  }
}
